USE [THUE_SACH]
GO
/****** Object:  Table [dbo].[LOAI_SACH]    Script Date: 9/29/2015 8:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_SACH](
	[MA_LOAI] [nchar](100) NOT NULL,
	[LOAI_SACH] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAI_SACH] PRIMARY KEY CLUSTERED 
(
	[MA_LOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAI_SACH_CT]    Script Date: 9/29/2015 8:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_SACH_CT](
	[MA_SACH] [nchar](100) NOT NULL,
	[MA_LOAI] [nchar](100) NOT NULL,
 CONSTRAINT [PK_SACH_CT] PRIMARY KEY CLUSTERED 
(
	[MA_SACH] ASC,
	[MA_LOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGON_NGU]    Script Date: 9/29/2015 8:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGON_NGU](
	[MA_NGON_NGU] [nchar](100) NOT NULL,
	[TEN_NGON_NGU] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NGON_NGU] PRIMARY KEY CLUSTERED 
(
	[MA_NGON_NGU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHA_XUAT_BAN]    Script Date: 9/29/2015 8:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA_XUAT_BAN](
	[MA_NHA_XB] [nchar](100) NOT NULL,
	[TEN_NHA_XB] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NHA_XUAT_BAN] PRIMARY KEY CLUSTERED 
(
	[MA_NHA_XB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 9/29/2015 8:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[TEN_TAI_KHOAN] [nchar](100) NOT NULL,
	[PASSWORD] [nchar](20) NOT NULL,
	[QUYEN] [int] NOT NULL,
	[TEN_NHAN_VIEN] [nvarchar](50) NOT NULL,
	[NGAY_SINH] [nchar](10) NOT NULL,
	[CMND] [nchar](10) NOT NULL,
	[EMAIL] [nchar](50) NULL,
	[GIOI_TINH] [int] NOT NULL,
	[SO_DIEN_THOAI] [nchar](20) NOT NULL,
 CONSTRAINT [PK_NHAN_VIEN_1] PRIMARY KEY CLUSTERED 
(
	[TEN_TAI_KHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEU_NHAP]    Script Date: 9/29/2015 8:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_NHAP](
	[MA_PHIEU_NHAP] [nchar](100) NOT NULL,
	[NGAY_NHAP] [date] NOT NULL,
	[TEN_TAI_KHOAN] [nchar](100) NOT NULL,
 CONSTRAINT [PK_PHIEU_NHAP] PRIMARY KEY CLUSTERED 
(
	[MA_PHIEU_NHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEU_NHAP_CT]    Script Date: 9/29/2015 8:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_NHAP_CT](
	[MA_PHIEU_NHAP] [nchar](100) NOT NULL,
	[MA_SACH] [nchar](100) NOT NULL,
	[SO_LUONG] [int] NOT NULL,
 CONSTRAINT [PK_PHIEU_NHAP_CT] PRIMARY KEY CLUSTERED 
(
	[MA_PHIEU_NHAP] ASC,
	[MA_SACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEU_THUE]    Script Date: 9/29/2015 8:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_THUE](
	[MA_PHIEU_THUE] [nchar](100) NOT NULL,
	[MA_THANH_VIEN] [nchar](50) NOT NULL,
	[TEN_TAI_KHOAN] [nchar](100) NOT NULL,
	[NGAY_THUE] [date] NOT NULL,
	[NGAY_TRA] [date] NOT NULL,
	[TINH_TRANG] [int] NOT NULL,
 CONSTRAINT [PK_PHIEU_THUE] PRIMARY KEY CLUSTERED 
(
	[MA_PHIEU_THUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEU_THUE_CT]    Script Date: 9/29/2015 8:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_THUE_CT](
	[MA_PHIEU_THUE] [nchar](100) NOT NULL,
	[MA_SACH] [nchar](100) NOT NULL,
 CONSTRAINT [PK_PHIEU_THUE_CT] PRIMARY KEY CLUSTERED 
(
	[MA_PHIEU_THUE] ASC,
	[MA_SACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SACH]    Script Date: 9/29/2015 8:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MA_SACH] [nchar](100) NOT NULL,
	[MA_LOAI_SACH] [nchar](10) NOT NULL,
	[TEN_SACH] [nvarchar](50) NOT NULL,
	[MA_NHA_XB] [nchar](100) NOT NULL,
	[MA_NGON_NGU] [nchar](100) NOT NULL,
	[NGAY_PHAT_HANH] [date] NOT NULL,
	[SO_LUONG] [int] NOT NULL,
	[GIA_SACH] [int] NOT NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[MA_SACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THANH_VIEN]    Script Date: 9/29/2015 8:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANH_VIEN](
	[MA_THANH_VIEN] [nchar](50) NOT NULL,
	[TEN_THANH_VIEN] [nvarchar](50) NOT NULL,
	[NGAY_SINH] [nchar](10) NOT NULL,
	[CMND] [nchar](10) NULL,
	[MA_SO_SVHS] [nchar](20) NULL,
	[SO_DIEN_THOAI] [nchar](20) NULL,
	[DIA_CHI] [nvarchar](50) NOT NULL,
	[EMAIL] [nchar](50) NULL,
	[TINH_TRANG] [int] NOT NULL,
	[GIOI_TINH] [int] NOT NULL,
	[TIEN] [int] NOT NULL,
 CONSTRAINT [PK_THANH_VIEN] PRIMARY KEY CLUSTERED 
(
	[MA_THANH_VIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[LOAI_SACH_CT]  WITH CHECK ADD  CONSTRAINT [FK_SACH_CT_LOAI_SACH] FOREIGN KEY([MA_LOAI])
REFERENCES [dbo].[LOAI_SACH] ([MA_LOAI])
GO
ALTER TABLE [dbo].[LOAI_SACH_CT] CHECK CONSTRAINT [FK_SACH_CT_LOAI_SACH]
GO
ALTER TABLE [dbo].[LOAI_SACH_CT]  WITH CHECK ADD  CONSTRAINT [FK_SACH_CT_SACH] FOREIGN KEY([MA_SACH])
REFERENCES [dbo].[SACH] ([MA_SACH])
GO
ALTER TABLE [dbo].[LOAI_SACH_CT] CHECK CONSTRAINT [FK_SACH_CT_SACH]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHAN_VIEN_PHIEU_THUE] FOREIGN KEY([TEN_TAI_KHOAN])
REFERENCES [dbo].[PHIEU_THUE] ([MA_PHIEU_THUE])
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [FK_NHAN_VIEN_PHIEU_THUE]
GO
ALTER TABLE [dbo].[PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_NHAP_NHAN_VIEN] FOREIGN KEY([TEN_TAI_KHOAN])
REFERENCES [dbo].[NHAN_VIEN] ([TEN_TAI_KHOAN])
GO
ALTER TABLE [dbo].[PHIEU_NHAP] CHECK CONSTRAINT [FK_PHIEU_NHAP_NHAN_VIEN]
GO
ALTER TABLE [dbo].[PHIEU_NHAP_CT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_NHAP_CT_PHIEU_NHAP] FOREIGN KEY([MA_PHIEU_NHAP])
REFERENCES [dbo].[PHIEU_NHAP] ([MA_PHIEU_NHAP])
GO
ALTER TABLE [dbo].[PHIEU_NHAP_CT] CHECK CONSTRAINT [FK_PHIEU_NHAP_CT_PHIEU_NHAP]
GO
ALTER TABLE [dbo].[PHIEU_NHAP_CT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_NHAP_CT_SACH] FOREIGN KEY([MA_SACH])
REFERENCES [dbo].[SACH] ([MA_SACH])
GO
ALTER TABLE [dbo].[PHIEU_NHAP_CT] CHECK CONSTRAINT [FK_PHIEU_NHAP_CT_SACH]
GO
ALTER TABLE [dbo].[PHIEU_THUE]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_THUE_THANH_VIEN] FOREIGN KEY([MA_THANH_VIEN])
REFERENCES [dbo].[THANH_VIEN] ([MA_THANH_VIEN])
GO
ALTER TABLE [dbo].[PHIEU_THUE] CHECK CONSTRAINT [FK_PHIEU_THUE_THANH_VIEN]
GO
ALTER TABLE [dbo].[PHIEU_THUE_CT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_THUE_CT_PHIEU_THUE] FOREIGN KEY([MA_PHIEU_THUE])
REFERENCES [dbo].[PHIEU_THUE] ([MA_PHIEU_THUE])
GO
ALTER TABLE [dbo].[PHIEU_THUE_CT] CHECK CONSTRAINT [FK_PHIEU_THUE_CT_PHIEU_THUE]
GO
ALTER TABLE [dbo].[PHIEU_THUE_CT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_THUE_CT_SACH] FOREIGN KEY([MA_SACH])
REFERENCES [dbo].[SACH] ([MA_SACH])
GO
ALTER TABLE [dbo].[PHIEU_THUE_CT] CHECK CONSTRAINT [FK_PHIEU_THUE_CT_SACH]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_NGON_NGU] FOREIGN KEY([MA_NGON_NGU])
REFERENCES [dbo].[NGON_NGU] ([MA_NGON_NGU])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_NGON_NGU]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_NHA_XUAT_BAN] FOREIGN KEY([MA_NHA_XB])
REFERENCES [dbo].[NHA_XUAT_BAN] ([MA_NHA_XB])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_NHA_XUAT_BAN]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã thành viên' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'THANH_VIEN', @level2type=N'COLUMN',@level2name=N'MA_THANH_VIEN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên thành viên' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'THANH_VIEN', @level2type=N'COLUMN',@level2name=N'TEN_THANH_VIEN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày sinh' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'THANH_VIEN', @level2type=N'COLUMN',@level2name=N'NGAY_SINH'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Chứng minh nhân dân' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'THANH_VIEN', @level2type=N'COLUMN',@level2name=N'CMND'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã số SVHS' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'THANH_VIEN', @level2type=N'COLUMN',@level2name=N'MA_SO_SVHS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số điện thoại' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'THANH_VIEN', @level2type=N'COLUMN',@level2name=N'SO_DIEN_THOAI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Địa chỉ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'THANH_VIEN', @level2type=N'COLUMN',@level2name=N'DIA_CHI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tiền phạt' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'THANH_VIEN', @level2type=N'COLUMN',@level2name=N'TINH_TRANG'
GO
